.fade-enter-active, 
.fade-leave-active
	transition opacity .5s

.fade-enter,
.fade-leave-to
	opacity 0


@keyframes moveRedLeft 
	from 
		left -100%
	to 
		left 0%
	

@keyframes bottleSurfacing 
	from 
		bottom -1000rem
	to 
		bottom -206rem

@keyframes flyWasher 
	from 
		opacity 0
		transform scale(0.1)
	to 
		opacity 1
		transform scale(1)
	
  

@keyframes scroll
	from
		background-position-x 10%
	to 
		background-position-x -1000% 


@keyframes surfacing
	from
		transform rotate(10deg) translateY(200rem)
	to
		transform rotate(0deg) translateX(0rem)


@keyframes opacityOff
	from
		opacity 0
	to
		opacity 1


@keyframes surfacingLine 
	from
		transform translateY(30rem)
	to 
		transform translateX(0rem)


 @keyframes flyArrow 
	0%
		transform: translateX(0)
	50%
		transform: translateX(10rem)
	100%
		transform: translateX(0)


@keyframes tickerS
	from 
		background-position-x 0rem
	to
		background-position-x 1045rem


@keyframes tickerL
	from 
		background-position-x 0rem
	to
		background-position-x 880rem


@keyframes tickerM
	from 
		background-position-x 0rem
	
	to
		background-position-x 375rem


