// @font-face
//     font-family 'Hankook';
//     src url('~@/assets/fonts/HankookTTFBoldOblique.woff2') format('woff2'), url('~@/assets/fonts/HankookTTFBoldOblique.woff') format('woff')
//     font-weight 700
//     font-style normal

@font-face 
  font-family 'DINPro-Bold'
  src url('~@/assets/fonts/DINPro-Bold.woff') format('woff')
  font-weight 700
  font-style normal

@font-face 
  font-family 'PTSans-NarrowBold'
  src url('~@/assets/fonts/PTSans-NarrowBold.woff') format('woff')
  font-weight 700
  font-style normal

@font-face 
  font-family 'PTSans-Narrow'
  src url('~@/assets/fonts/PTSans-Narrow.woff') format('woff')
  font-weight 400
  font-style normal