@import './fonts.styl'
@import './mixins.styl'
@import './vars.styl'
@import './reset.styl'

@import './common.styl'
@import './animation.styl'

/* components import here */
@import './components/header.styl'
@import './components/footer.styl'
@import './components/index.styl'
@import './components/news.styl'
@import './components/rules.styl'
@import './components/gallery.styl'
@import './components/video.styl'
@import './components/product.styl'
@import './components/share.styl'
@import './components/menu.styl'