$os = 'Arial'
$dinProBold = 'DINPro-Bold'
$ptSansNarrowBold = 'PTSans-NarrowBold'
$ptSansNarrow = 'PTSans-Narrow'

$black = #000000
$white = #FFFFFF
$whiteRedOpacity = rgb(165, 143, 143)
$red = #FF0101
$redOpacity = rgba(255, 1, 1, 0.5);
$blue = rgba(8, 41, 99, 1) 
$aquaBlue = #76B4EB
$lightBlue = #0087FF
$blueOpacity = rgba(8, 41, 99, 0.5)

$mobileS = '(max-width:540px)'
$mobile = '(max-width:660px)'
$desktop = '(min-width:661px)'

$ios = '(-webkit-overflow-scrolling: touch)'
 
$ie = 'screen and (-ms-high-contrast: active), (-ms-high-contrast: none)'

